
body {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  display: table;
  width: 100%;
}

.header, .footer {
  background-color: rgba(198,217,241,255);
  padding: 15px 20px;
  text-align: end;
}

.header > h3, .footer > h3 {
  margin: 0;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid black;
}

.content-table {
  display: table-row-group;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td {
  padding: 0;
  vertical-align: top;
}

.content-left, .content-right {
  width: 20%;
  background-color: rgba(253,233,217,255);
}
 
.content-left .bottom-section, 
.text {
  padding: 10px;
  max-height: 320px;
}

.content-left .top-section {
  background-color: rgba(234,241,221,255);
  text-align: center;
  max-height: 130px;
}

.content-middle {
  width: 60%;
  background-color: rgba(234,241,221,255);
}


.content-middle img {
  width: 100%;
  height: 100%;
}

.content-middle .bottom-section {
  background-color: rgba(234,241,221,255);
  text-align: center;
  align-content: center;
  height: 70px;
}

.navbar {
  padding: 0;
}
.navbar li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;

}

.no-scrollbar {
  overflow-y: auto;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
